<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Registration Form</title>
  </head>
  <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form action="/user" method="post">
              First Name: <input type="text" name="first_name">
              Last Name: <input type="text" name="last_name">
              Email: <input type="email" name="email">
              Password: <input type="password" name="password">
              Confirm Password: <input type="password" name="confirm_password">
              <input type="submit" name="submit" value="Register">
        </form>

  </body>
</html>
