h1 {
      background-color: #06aae2;
      color: white;
}

h4 {
      background-color: black;
      color: white;
}

p {
      background-color: #06aae2;
      color: white;
}

#submit_info{
      margin-top: 5px;
}
